<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd">

    <!-- 配置Spring Rest 服务 -->
    <!-- Spring RestTemplate -->
    <beans:bean id="restTemplate" class="org.springframework.web.client.RestTemplate">
        <beans:constructor-arg ref="clientHttpRequestFactory"/>
    </beans:bean>

    <!-- 创建Http连接池，并为RestTemplate提供HttpClient方式的底层实现 -->
    <beans:bean id="poolingHttpClientConnectionManager"
                class="org.apache.http.impl.conn.PoolingHttpClientConnectionManager">
        <beans:property name="maxTotal" value="10"/>
        <beans:property name="defaultMaxPerRoute" value="5"/>
    </beans:bean>
    <beans:bean id="httpClientBuilder" class="org.apache.http.impl.client.HttpClientBuilder" factory-method="create">
        <beans:property name="connectionManager" ref="poolingHttpClientConnectionManager"/>
    </beans:bean>
    <beans:bean id="httpClient" factory-bean="httpClientBuilder" factory-method="build"/>
    <beans:bean id="clientHttpRequestFactory"
                class="org.springframework.http.client.HttpComponentsClientHttpRequestFactory">
        <beans:constructor-arg ref="httpClient"/>
        <beans:property name="connectTimeout" value="60000"/>
        <beans:property name="readTimeout" value="60000"/>
    </beans:bean>

</beans:beans>
